.fundo {
  text-align: justify;
  margin: 5%;
  border: 2px solid red;
  padding: 5%;
  border-radius: 30px;
  box-shadow: 5px 6px 10px 3px grey;
  width: fit-content;
  height: fit-content;
  font-family: "Roboto", sans-serif;
}
.fundo :hover {
  transition: 1s ease-in;
  background-color: rgba(200, 255, 0, 0.295);
}
